/* Mobile */
@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    max-width: 100%;
    /* flex: 1; */
    /* border-color: red 5px solid; */
    overflow-wrap: break-word;
    overflow-x: hidden;
  }
  .content-portifolio {
    max-width: 100%;
  }
  header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  header h1 {
    font-size: 20px;
    flex: 100%;
  }
  header nav ul {
    flex: 100%;
  }
  header nav ul .svg {
    display: none;
  }
  main .sectio-description {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 110vh;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
  }
  main .sectio-description .image {
    margin-bottom: 5vh;
    margin-left: 0;
    max-width: 90%;
  }
  main .sectio-description .image img {
    max-width: 65%;
    height: 100%;
  }
  main .sectio-description .description {
    max-width: 100%;
  }
  .description h2 {
    font-size: 30px;
    text-align: center;
  }
  .description h3 {
    text-align: center;
    font-size: 25px;
  }
  .description p {
    font-size: 16px;
    padding: 0 2%;
    text-align: center;
  }
  main .Sobre-content {
    justify-self: center;
    align-self: center;
    margin-top: 10vh;
    margin-left: 0;
    max-width: 100%;
    height: 40vh;
    /* border: solid 1px wheat; */
  }
  main .Sobre-content .sobre-mim h3 {
    font-size: 30px;
  }
  main .Sobre-content .sobre-mim p {
    font-size: 16px;
  }

  .projetos .projetos-card .card {
    width: 100%;
    height: 50vh;
  }
  .projetos .projetos-card .card h4 {
    font-size: 20px;
  }
  .projetos .projetos-card .card p {
    font-size: 12px;
    padding: 0 5%;
    height: 16vh;
  }
  .projetos .projetos-card .card a {
    font-size: 12px;
  }
  main .projetos {
    margin: 20vh 0 50vh 0;
  }
  main .projetos h3 {
    font-size: 30px;
  }

  main .contato {
    width: 100%;
    height: 120vh;
    justify-self: center;
    /* border: solid 1px wheat; */
  }
  main .contato h3 {
    font-size: 30px;
  }
  main .contato p {
    font-size: 16px;
  }
  main .contato .form-contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 0;
  }
  main .contato .form-contato form {
    max-width: 100%;
    height: 75vh;
    margin-bottom: 0;
  }
  main .contato .form-contato form h4 {
    margin-top: 1rem;
    font-size: 25px;
  }
  form label {
    font-size: 16px;
  }
  form textarea {
    font-size: 16px;
  }
  main .contato .form-contato form #name {
    max-width: 100%;
    height: 5vh;
    
  }
  main .contato .form-contato form #email {
    max-width: 80%;
    height: 5vh;
    
  }
  main .contato .form-contato form #assunto {
    max-width: 80%;
    height: 5vh;
    
  }
  main .contato .form-contato form #message {
    max-width: 80%;
    height: 5vh;
    
  }
  main .contato .form-contato form button {
    max-width: 10vh;
    position: relative;
    right: 100vh;
  }

  footer {
    margin-top: 0;
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: auto;
    text-align: left;
    position: relative;
    bottom: 0px;
  }
  footer .informacao h3 {
    font-size: 20px;
    max-width: 200px;
  }

  footer .informacao span {
    font-size: 16px;
    text-align: center;
  }
  footer .informacao p {
    font-size: 12px;
    min-width: 0;
    max-width: 200px;
    height: 20vh;
  }

  footer .social h3 {
    margin-top: 0;
    font-size: 16px;
  }
  footer .social ul {
    font-size: 14px;
  }

  footer .direitos {
    margin: 0;
    font-size: 12px;
    max-width: 200px;
    justify-self: center;
    left: 0;
    height: 5vh;
  }

  /* .whatsApp {
    width: 40px;
  } */
}

/* Desktop*/
@media screen and (max-width: 992px) {
  body {
    width: 105vh;
  }
  main section .image {
    margin-left: 40px;
  }
  main section .description {
    width: 800px;
  }

  main .Sobre-content {
    width: 90%;
  }

  main .projetos {
    width: 90%;
    height: 60vh;
  }

  main .contato {
    width: 90%;
  }
  main .contato .form-contato form {
    width: 90vh;
  }
  main .contato .form-contato form #name {
    width: 100vh;
    margin-left: 2%;
  }
  main .contato .form-contato form #email {
    width: 82vh;
    margin-left: 2%;
  }
  main .contato .form-contato form #assunto {
    width: 82vh;
    margin-left: 2%;
  }
  main .contato .form-contato form #message {
    width: 82vh;
    margin-left: 2%;
  }
  form button {
    left: 75%;
  }

  footer .informacao p {
    width: 620px;
  }
}
